UNYPORT_GIT_SYNC_ENABLED=0
UNYPORT_GIT_SYNC_PUSH=1
UNYPORT_GIT_BRANCH=master
UNYPORT_GIT_RELEASE_KIND=auto
UNYPORT_GIT_AUTO_BUMP=1
UNYPORT_GIT_RELEASE_PUSH_TAGS=1
UNYPORT_GIT_REQUIRE_BUILD=1
GH_TOKEN_FILE=/path/to/github-token

